* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 40px;
}

.header h2 {
  font-size: 32px;
  font-weight: 700;
  color: #333;
}

.header p {
  margin-top: 15px;
  font-size: 18px;
  color: #777;
}

.product-card {
  width: 100%;
  box-shadow: 0 2px 7px #dfdfdf;
  background: #fafafa;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Yumuşak geçiş ekledik */
}

.product-card:hover {
  transform: scale(1.05); /* Kartı %5 büyütür */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1); /* Gölgeyi biraz daha belirgin hale getirdik */
}

.badge {
  position: absolute;
  left: 0;
  top: 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  background: #4caf50;
  color: #f6f6f6;
  padding: 3px 10px;
}

.product-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  padding: 50px;
  background: #f0f0f0;
}

.product-tumb img {
  max-width: 100%;
  max-height: 100%;
}

.product-details {
  padding: 30px;
}

.product-category {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 18px;
}

.product-details h4 a {
  font-weight: 500;
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: #363636;
  text-decoration: none;
  transition: 0.3s;
}

.product-details h4 a:hover {
  color: #fbb72c;
}

.product-details p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 18px;
  color: #999;
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.product-price {
  font-size: 18px;
  color: #fbb72c;
  font-weight: 600;
}

.product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
}

.product-links {
  text-align: right;
}

.product-links label {
  cursor: pointer;
}

.cart-icon input[type="checkbox"] {
  display: none;
}

.cart-icon input[type="checkbox"]:checked + .fa-shopping-cart {
  color: #4caf50;
}

.heart-icon input[type="checkbox"] {
  display: none;
}

.heart-icon input[type="checkbox"]:checked + .fa-heart {
  color: #f44336;
}

.fas {
  color: #e1e1e1;
  transition: color 0.3s ease;
}

.product-links label:hover {
  cursor: pointer;
}

/* Responsive */
@media (max-width: 900px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
}
